.App {
  text-align: center;
  font-family: fantasy;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.game-window {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 95vh;
  width: 45vw;
  background: lightblue;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

/* Enemy Styling */
.encounter-window {
  margin-top: 10px;
  height: 35%;
  width: 90%;
  background: gray;  
  display: flex;
  justify-content: center;
}

.enemy-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.enemy-image {
  width: auto;
  height: 95%;
}

.handle-damage {
  margin-top: 30px;
}

/* Character Styling */
.character-section {
  /* margin-top: 40px; */
  width: 90%;
  height: 50%;
  background: green;
}

.character {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.character-info {
  margin-top: 3.5%;
  margin-left: 20px;
  width: 45%;
  height: 400px;
  background: greenyellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.character-image {
  margin-top: 3.5%;
  margin-right: 20px;
  width: 40%;
  height: 400px;
  background: rgb(64, 155, 207);
}

h2 {
  font-size: 25px;
  /* margin-top: 10px; */
}

.character-stats {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.character-stats ul {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 100px;
  background-color: lightsalmon;
  justify-content: space-around;
  padding-left: 5px;
}

.character-abilities {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.character-abilities img {
  border-radius: 10px;
  transition: .25s;
}

.character-abilities img:hover {
  filter: brightness(150%);
}
.character-abilities img:active {
  filter: brightness(50%);
}
